.button{
    -fx-text-fill:rgb(50,100,150);
}

.VerzeichnisButton{
    -fx-text-fill:rgb(250,0,0);
    -fx-background-color: rgb(255,255,255);
}

#anmeldPane{
    -fx-background-color: rgb(255,255,255);
}

#eingabeTop{
    -fx-background-color:rgb(100,100,100);
}

#meldungPane{
    -fx-background-color:rgba(0,0,0,0.5);
}

#hauptTop{
    -fx-background-color: rgb(100,100,100);
}

.button1{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}